<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

@for(course of courses; track course.id; let index = $index; let first = $first; let last = $last; let count = $count;
let even=$even; let odd = $odd;){
<course-card [course]="course" (selectedCourse)="onSelectedCourse($event)" [index]="index" [class.is-first]="first"
    [class.is-last]="last" [class.is-even]="even" [class.is-odd]="odd">

    <!-- Content Projection in Angular refers to the process of projecting or inserting content from 
    a parent component into a designated area within a child component's template. 
    This is achieved by using the <ng-content> element in the child component's template, 
    which acts as a placeholder for the content to be projected. -->
    <h5>This content is being projected</h5>
    <h6>This content is also being projected</h6>
</course-card>
}
@empty{
<h1>No courses found</h1>
}

<!-- There is no need to assign option in variables, we can directly use them as below. -->
<!-- @for(course of courses; track course.id;){
<course-card 
    [course]="course" 
    (selectedCourse)="onSelectedCourse($event)" 
    [index]="$index" 
    [class.is-first]="$first"
    [class.is-last]="$last" 
    [class.is-even]="$even" 
    [class.is-odd]="$odd">
</course-card>
} -->